main {
    line-height: 2;
    text-align:left;
    color: #E0D9F6;
}

h1 {
    margin: 50px 0 20px;
    font-size: 40px;
    text-align: center;
}

p {
    margin: 50px 150px 0;
    font-size: 17px;
}

strong {
    color: #C252E1;
}

h2 {
    margin: 30px 150px;
}

#mainUl {
    margin: 10px 190px 0;
    font-size: 17px;
}
