#hero {
    background-image: url("../img/backgroundHeroBlock.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#hero h1, #hero h2 {
    color: #E0D9F6;
}