main {
    line-height: 2;
    text-align:left;
    color: #E0D9F6;
}

h1, p {
    text-align: center;
}

h1 {
    margin: 50px 0 20px;
    font-size: 40px;
}

p {
    margin: 50px 150px 0;
    font-size: 17px;
}
