* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color:#000000;
    flex-direction: column;
    font-family:monospace;
}


a {
    text-decoration: none;
}


nav {
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 18px;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 2px;
}

nav a, #contactBtn {
    color: #586AE2; 
}

nav a:hover, #contactBtn:hover {
    color: #CD00CD;
}

nav a[aria-current="page"] {
    color: #b601b6;
}



#contactBtn, #colorSiteBtn {
    background-color: transparent;
    border: none;
    font-size: inherit; 
    font-family: inherit;
}

#contactWin {
    position: fixed;
    margin: 0;
    top: auto;
    bottom: 25px;
    right: 25px;
    left: auto;

    background-color: #131212;
    border-radius: 12px;
    border: 2px solid #1b1b1b86;
    padding: 20px;
    z-index: 1000;
}

#contactWin button {
    background: transparent;
    border: none;
    color: #E0D9F6;
}

#contactClose {
    position: absolute;
    top: 12px;
    right: 12px;
}

#contactClose:hover {
    color: rgb(224, 17, 17);
}

#contactTitle {
    color: #E0D9F6;
    margin-bottom: 20px;
    text-align: center;
}

#contactWin form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
}

#emailInput, #contactWin textarea {
    width: 333px;
    background-color: #131212;
    color: #E0D9F6;
}

#contactWin textarea {
    resize: none;
    height: 122px;
}


footer {
    margin-top: auto;
    text-align: end;
    padding: 15px;
}

footer a {
    font-size: 16px;
    color: #41a7fa;
}

#telegram:hover {
    color:rgb(42, 152, 255);
}

#github:hover {
    color: #E0D9F6;
}